# Environments
.env
.venv/
env/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pyo
*.pyd

# Backend
backend/__pycache__/
backend/*.pyc

# Data files
data/processed/*
!data/processed/.gitkeep

# Models
models/*
!models/.gitkeep
*.pkl
*.joblib
*.h5
*.pt

# Jupyter Notebooks
.ipynb_checkpoints
*.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Logs 
logs/
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/

# setup.py artifacts
equipo4_ml_project.egg-info/

#reports
reports/

# OS-specific files
# macOS
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Project artifacts
reports/
*.pkl
